@-webkit-keyframes border-gradient-animation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes border-gradient-animation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Nunito", "Albert Sans"; }

a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent; }

ul {
  list-style: none; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background: #1c1c1c; }

::-webkit-scrollbar-thumb {
  background: #ffac32; }

::-webkit-scrollbar-thumb:hover {
  background: #ffac32; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.responsiveImage {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  position: relative; }
  .responsiveImage.fadeIn {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in; }

form {
  display: grid;
  gap: 40px; }

.container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(28, 28, 28, 0.5);
  border-radius: 10px;
  height: 46px;
  position: relative;
  width: 100%; }
  .container-input,
  .container-input * {
    -webkit-transition: 500ms ease all;
    transition: 500ms ease all; }
  .container-input:hover {
    border: 1px solid #ffac32; }
  .container-input.focus {
    border: 1px solid #ffac32; }
    .container-input.focus span.holder {
      font-size: 14px;
      font-weight: 600;
      top: 0; }
  .container-input.no-icon {
    padding-left: 47px; }
  .container-input .label-ico,
  .container-input .view-pass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    width: 46px; }
    .container-input .label-ico .icon,
    .container-input .view-pass .icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 20px;
      color: #ffac32;
      cursor: pointer; }
  .container-input input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    outline: none;
    padding: 0 10px;
    position: relative;
    width: 100%;
    color: #ffac32; }
  .container-input span.holder {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    color: #ffac32;
    font-size: 18px;
    left: 40px;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    top: 23px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .container-input span.holder.has-content {
      font-size: 15px;
      font-weight: 600;
      top: 0 !important; }
  .container-input input[type="date"] {
    cursor: pointer; }
    .container-input input[type="date"]::-webkit-calendar-picker-indicator {
      display: none; }
    .container-input input[type="date"]::-ms-expand {
      display: none; }
    .container-input input[type="date"]::before {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background: none;
      width: 0;
      height: 0;
      pointer-events: none; }

.checkbox-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  max-width: 190px;
  display: grid;
  grid-template-columns: 1fr 7fr; }
  .checkbox-basic:hover span {
    color: #ffac32; }
  .checkbox-basic span {
    -webkit-transition: 500ms ease all;
    transition: 500ms ease all; }
  .checkbox-basic .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffac32;
    margin-left: 10px; }
  .checkbox-basic .text {
    color: #ffac32;
    margin-left: 24px;
    font-size: 18px;
    font-weight: 600; }
@-webkit-keyframes check-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.2; }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: #ffac32;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes check-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.2; }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: #ffac32;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
  .checkbox-basic .animate {
    -webkit-animation: check-animation 500ms forwards;
            animation: check-animation 500ms forwards; }

.container-menu-tooltip ul li button {
  color: #fff; }
  .container-menu-tooltip ul li button:hover {
    color: #ffac32 !important; }

.container-btn-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  .container-btn-tablet .btn-normal-basic {
    width: 30px;
    height: 30px; }
    .container-btn-tablet .btn-normal-basic button {
      border: none; }

.btn-loki {
  outline: none;
  border: none;
  position: relative;
  width: 16px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .btn-loki span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #1c1c1c;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .btn-loki span:nth-last-of-type(1) {
      top: 0; }
    .btn-loki span:nth-last-of-type(3) {
      bottom: 0; }
  .btn-loki.active span {
    height: 3px; }
    .btn-loki.active span:nth-last-of-type(1) {
      -webkit-transform: translateY(4px) translateX(1px) rotate(-45deg);
              transform: translateY(4px) translateX(1px) rotate(-45deg);
      background-color: #1c1c1c; }
    .btn-loki.active span:nth-last-of-type(3) {
      -webkit-transform: translateY(-7px) translateX(1px) rotate(45deg);
              transform: translateY(-7px) translateX(1px) rotate(45deg);
      background-color: #1c1c1c; }
    .btn-loki.active span:nth-last-of-type(2) {
      background-color: #1c1c1c;
      opacity: 0; }

.btn-menu.active span:nth-last-of-type(2) {
  left: 80%; }
.btn-menu.active:before {
  position: absolute;
  width: 26px;
  height: 26px;
  content: "";
  border: 3px solid transparent;
  border-radius: 50%;
  top: 62%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: circulo 0.5s 0.3s forwards;
          animation: circulo 0.5s 0.3s forwards;
  margin: -19px 0 0 -18px; }

@-webkit-keyframes circulo {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    border-color: transparent #ffac32 transparent transparent; }
  50% {
    border-color: transparent #ffac32 #ffac32 transparent; }
  75% {
    border-color: transparent #ffac32 #ffac32 #ffac32; }
  100% {
    border-color: #ffac32;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg); } }

@keyframes circulo {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    border-color: transparent #ffac32 transparent transparent; }
  50% {
    border-color: transparent #ffac32 #ffac32 transparent; }
  75% {
    border-color: transparent #ffac32 #ffac32 #ffac32; }
  100% {
    border-color: #ffac32;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg); } }
.btn-normal-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  position: relative;
  width: 100%; }
  .btn-normal-basic,
  .btn-normal-basic * {
    -webkit-transition: 500ms ease all;
    transition: 500ms ease all; }
  .btn-normal-basic button {
    background-color: transparent;
    border: 1px solid rgba(28, 28, 28, 0.5);
    border-radius: 10px;
    color: #ffac32;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    max-width: calc(333px / 1.5);
    outline: none;
    position: relative;
    width: 100%; }
    .btn-normal-basic button:active {
      background-color: #ffac32;
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      color: #fff; }
    .btn-normal-basic button:disabled {
      background-color: #ffac32; }
    .btn-normal-basic button:focus {
      background-color: #ffac32;
      color: #fff; }
    .btn-normal-basic button:hover {
      background-color: #ffac32;
      color: #fff; }

.container-row-circle {
  color: #fff;
  position: relative; }
  .container-row-circle.active button:before {
    -webkit-animation: circle 0.6s 0.6s forwards;
            animation: circle 0.6s 0.6s forwards;
    border: 4px solid transparent;
    border-radius: 50%;
    content: "";
    height: 24px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 24px;
    color: #ffac32; }
  .container-row-circle.active button .icon {
    color: #ffac32;
    display: block; }
  .container-row-circle button {
    position: absolute;
    left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
@-webkit-keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    border-color: transparent #fff transparent transparent; }
  50% {
    border-color: transparent #fff #fff transparent; }
  75% {
    border-color: transparent #fff #fff; }
  to {
    border-color: #fff;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg); } }
@keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    border-color: transparent #fff transparent transparent; }
  50% {
    border-color: transparent #fff #fff transparent; }
  75% {
    border-color: transparent #fff #fff; }
  to {
    border-color: #fff;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg); } }
.btn-submit-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  position: relative;
  width: 100%; }
  .btn-submit-basic,
  .btn-submit-basic * {
    -webkit-transition: 500ms ease all;
    transition: 500ms ease all; }
  .btn-submit-basic button {
    background-color: transparent;
    border: 1px solid rgba(28, 28, 28, 0.5);
    border-radius: 10px;
    color: #ffac32;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    max-width: calc(333px / 1.5);
    outline: none;
    position: relative;
    width: 100%; }
    .btn-submit-basic button:active {
      background-color: rgba(255, 172, 50, 0.7);
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      color: #fff; }
    .btn-submit-basic button:disabled {
      background-color: rgba(255, 172, 50, 0.3) !important;
      color: #fff;
      cursor: not-allowed; }
    .btn-submit-basic button:focus {
      background-color: rgba(255, 172, 50, 0.7);
      color: #fff; }
    .btn-submit-basic button:hover {
      background-color: rgba(255, 172, 50, 0.9);
      color: #fff; }

.btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-text button {
    background-color: transparent;
    border: none;
    color: #ffac32;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    -webkit-transition: all ease 500ms;
    transition: all ease 500ms; }
    .btn-text button span {
      text-decoration: none; }
    .btn-text button:active {
      color: #ffac32;
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }

.personal .container-input {
  height: 40px; }
  .personal .container-input .select {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 40px; }
    .personal .container-input .select .css-b62m3t-container {
      width: 200px;
      min-width: 200px;
      max-width: 200px;
      height: 40px;
      background-color: transparent; }

.btn-sesion {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 35px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .btn-sesion button {
    background-color: transparent;
    border: none;
    color: #ffac32;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    -webkit-transition: 500ms all ease;
    transition: 500ms all ease; }
    .btn-sesion button:hover {
      color: #442897; }
    .btn-sesion button:active {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }
    .btn-sesion button span {
      text-decoration: none; }
  .btn-sesion .span-sesion {
    cursor: default; }

.layout-tablet-container .conteiner .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #045e55; }
  .layout-tablet-container .conteiner .container-header h3 {
    color: #fff; }
  .layout-tablet-container .conteiner .container-header .search {
    width: 100%;
    max-width: 460px; }

.reset.left .title {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10px;
  margin-bottom: 35px;
  width: 100%; }
  .reset.left .title .container-row-circle {
    width: 20px;
    height: 45px; }
  .reset.left .title p {
    color: #ffac32;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600; }

/* Logica para voltear la tarjeta */
.container-form-loki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 570px;
  position: relative;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  width: 360px;
  z-index: 2; }
  .container-form-loki.right-active {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
    .container-form-loki.right-active.active .right {
      -webkit-animation: colorChange 1s forwards;
              animation: colorChange 1s forwards; }
    .container-form-loki.right-active .front {
      z-index: 1; }
    .container-form-loki.right-active .right {
      height: 550px;
      min-height: 550px;
      max-height: 550px;
      border: rgba(28, 28, 28, 0.5);
      -webkit-transition: all ease 1.6s;
      transition: all ease 1.6s;
      z-index: 4; }
  .container-form-loki.front-active {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
    .container-form-loki.front-active.active .front {
      -webkit-animation: colorChange 1s forwards;
              animation: colorChange 1s forwards; }
    .container-form-loki.front-active .front {
      border: 1px solid #fff;
      -webkit-transition: all ease 1.6s;
      transition: all ease 1.6s;
      z-index: 4; }
    .container-form-loki.front-active .right {
      z-index: 1; }
  .container-form-loki.left-active {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
    .container-form-loki.left-active.active .left {
      -webkit-animation: colorChange 1s forwards;
              animation: colorChange 1s forwards; }
    .container-form-loki.left-active .left {
      border: 1px solid #fff;
      -webkit-transition: all ease 1.6s;
      transition: all ease 1.6s;
      z-index: 4; }
    .container-form-loki.left-active .right {
      display: none;
      z-index: 1; }
  .container-form-loki .login,
  .container-form-loki .register,
  .container-form-loki .left {
    width: 440px;
    min-width: 440px;
    max-width: 440px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0 30px rgba(1, 42, 112, 0.1);
            box-shadow: 0px 0 30px rgba(1, 42, 112, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
    padding-top: 30px;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: #1c1c1c73; }
    .container-form-loki .login .text-recovery,
    .container-form-loki .register .text-recovery,
    .container-form-loki .left .text-recovery {
      background-color: transparent;
      border: none;
      color: #1c1c1c;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      max-width: 333px;
      outline: none;
      -webkit-transition: all ease 500ms;
      transition: all ease 500ms; }
  .container-form-loki .front {
    height: 450px;
    min-height: 450px;
    max-height: 450px;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .container-form-loki .right {
    height: 450px;
    min-height: 450px;
    max-height: 450px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s; }
  .container-form-loki .left {
    height: 340px;
    min-height: 340px;
    max-height: 340px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: none;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s; }
  .container-form-loki .icon {
    font-size: 20px; }
  .container-form-loki form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr; }
    .container-form-loki form .container-input span.holder {
      -webkit-backdrop-filter: none;
              backdrop-filter: none; }

@-webkit-keyframes colorChange {
  0% {
    border-color: #fff; }
  50% {
    border-color: #ffac32; }
  100% {
    border-color: #fff; } }

@keyframes colorChange {
  0% {
    border-color: #fff; }
  50% {
    border-color: #ffac32; }
  100% {
    border-color: #fff; } }
.containerAll {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
  background-image: url("/bg-home.jpg"); }
  .containerAll > header {
    background-color: #1c1c1c73;
    border-bottom: 1px solid rgba(255, 172, 50, 0.5);
    color: #fff;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); }
    .containerAll > header .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 24px; }
  .containerAll > main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .containerAll > footer {
    background-color: #1c1c1c;
    border-top: 1px solid rgba(255, 172, 50, 0.5);
    color: #fff;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: #1c1c1c73; }
    .containerAll > footer p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 20px; }

.header .container-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header .container-nav nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .header .container-nav nav ul li .container-icono {
      margin: 0 5px 0 25px;
      color: #ffac32; }
      .header .container-nav nav ul li .container-icono .icono {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 16px; }
.header .container-nav.sin-iconos nav ul li {
  margin: 0 5px 0 25px; }
.header .nav-xs {
  display: none; }

@media screen and (max-width: 1000px) {
  .header .container-nav nav ul li .container-icono {
    margin: 0 5px 0 15px; } }
@media screen and (max-width: 950px) {
  .header .container-nav {
    display: none; } }
@media screen and (max-width: 950px) {
  .header .nav-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .header .container-nav.nav-xs {
    background-color: rgba(68, 40, 151, 0.3);
    background-color: #1c1c1c;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    height: 100vh;
    width: 200px;
    position: absolute;
    right: -100%;
    border-left: 1px solid rgba(28, 28, 28, 0.5); }
    .header .container-nav.nav-xs.active {
      right: 0; }
    .header .container-nav.nav-xs nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .header .container-nav.nav-xs nav ul li {
        height: 36px; }
        .header .container-nav.nav-xs nav ul li .container-icono {
          margin: 0 7px 0 15px; } }
.wrapper {
  min-height: 110vh;
  min-height: 110dvh; }

.header.landing-left {
  height: 90px;
  top: 0; }
  .header.landing-left * {
    -webkit-transition: 600ms all ease;
    transition: 600ms all ease; }
  .header.landing-left .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
    width: 100%; }
    .header.landing-left .desktop.scrolled {
      padding: 0 15px;
      height: 65px; }
      .header.landing-left .desktop.scrolled .container-logo {
        font-size: 24px; }
        .header.landing-left .desktop.scrolled .container-logo a img,
        .header.landing-left .desktop.scrolled .container-logo a svg {
          width: 170px; }
      .header.landing-left .desktop.scrolled .container-nav nav ul li .container-icono {
        margin: 0 5px 0 15px; }
    .header.landing-left .desktop .container-logo {
      font-size: 18px; }
  .header.landing-left .btn-desktop {
    display: none; }

@media screen and (max-width: 1500px) {
  .header.landing-left .desktop {
    height: 85px; }
    .header.landing-left .desktop.scrolled {
      height: 60px; } }
@media screen and (max-width: 1200px) {
  .header.landing-left .desktop {
    height: 75px; }
    .header.landing-left .desktop.scrolled {
      height: 55px; }
      .header.landing-left .desktop.scrolled .container-logo a img,
      .header.landing-left .desktop.scrolled .container-logo a svg {
        width: 130px; } }
@media screen and (max-width: 1000px) {
  .header.landing-left .desktop {
    height: 55px;
    padding: 0 15px; } }
@media screen and (max-width: 950px) {
  .header.landing-left .desktop .btn-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
@media screen and (max-width: 500px) {
  .header.landing-left .desktop {
    grid-template-columns: 2fr 8fr 2fr;
    justify-items: center;
    display: grid; }
    .header.landing-left .desktop .container-logo {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      justify-items: center; }
  .header.landing-left .container-nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .header.landing-left .container-nav.nav-xs {
      left: -100%;
      border-left: none;
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
      .header.landing-left .container-nav.nav-xs.active {
        left: 0; } }
.secciones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 900px; }
  .secciones .btn-normal-basic {
    height: 200px; }
    .secciones .btn-normal-basic button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid rgba(255, 255, 255, 0.5);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .secciones .elemento.salir a img, .secciones .elemento.estadisticas a img {
    width: 100px; }
  .secciones .elemento a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .secciones .elemento a .container-img {
      height: 170px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .secciones .elemento a img {
      width: 120px;
      margin-bottom: 15px; }
    .secciones .elemento a label {
      text-transform: uppercase;
      font-size: 14px; }

.personal .container-input {
  height: 40px; }
  .personal .container-input .select {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 40px; }
    .personal .container-input .select .css-b62m3t-container {
      width: 200px;
      min-width: 200px;
      max-width: 200px;
      height: 40px;
      background-color: transparent; }

.container-btn-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  .container-btn-tablet .btn-normal-basic {
    width: 30px;
    height: 30px; }
    .container-btn-tablet .btn-normal-basic button {
      border: none; }
