
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Nunito", "Albert Sans";
}

a {
  text-decoration: none;
  color: $text-color-white;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


@include scroll($color: $color-quaternary, $bgColor: $color-secondary);