@use "/src/sass/global/variables" as var;
@use "/src/sass/global/mixin" as fn;

.layout-tablet-container {
  .conteiner {
    .container-header {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      // border: 1px solid red;
      margin: 10px 0;
      align-items: center;

      background-color: #045e55;

      h3 {
        color: #fff;
      }

      .search {
        width: 100%;
        max-width: 460px;
      }

      .btns {}
    }
  }
}