
.containerAll {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;

    >header {
        background-color: $color-quaternary;
        border-bottom: 1px solid $color-secondary;
        color: $text-color-white;
    }

    >main {
        background-color: $color-tertiary;
    }

    >footer {
        background-color: $color-quaternary;
        border-top: 1px solid $color-secondary;
        color: $text-color-white;
    }
}