
.containerAll {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: #fff;
    background-image: url("/bg-home.jpg");

    >header {
        background-color: #1c1c1c73;
        border-bottom: 1px solid rgba($color-secondary, 0.5);
        color: $text-color-white;
        height: 60px;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(10px);

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        }

    }

    >main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    >footer {
        background-color: $color-quaternary;
        border-top: 1px solid rgba($color-secondary, 0.5);
        color: $text-color-white;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: #1c1c1c73;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
    }
}